@charset "utf-8";
/* CSS Document */
.container{
	margin: 0 auto;
	width: auto;
}
.cabecalho{
	text-align: center;
}
.menu{
	text-align: center;
}
.menu ul{
	list-style: none;
}
.menu li{
	display: inline-block;
	font-weight: bold;
	padding: 5px;
	margin: 0px 20px 0px 20px;
}
section{
	text-align: center;
}
.grade{
	display: inline-block;
}
.banner{
	text-align: center;
}
.logo{
	height: 50px;
	float: left;
	margin-left: 100px;
}